;;
;; Stub make file for building xforty-drupal. Copy this file and add
;; site-specific components for your project.
;;

;----------------------------------------
; base make file
;----------------------------------------

; Replace <TAG> with the xforty-drupal version you want to use.
includes[] = http://github.com/xforty/xforty-drupal/raw/<TAG>/base.make

;----------------------------------------
; base make file overrides
;----------------------------------------



;----------------------------------------
; distro features
;----------------------------------------



;----------------------------------------
; distro libraries
;----------------------------------------



;----------------------------------------
; distro modules
;----------------------------------------



;----------------------------------------
; distro profiles
;----------------------------------------

; Replace <TAG> with the xforty-drupal version you want to use.
projects[xforty][type] = profile
projects[xforty][download][type] = git
projects[xforty][download][url] = git://github.com/xforty/xforty-drupal.git
projects[xforty][download][tag] = <TAG>

; <PROJECT_PROFILE_GOES_HERE>

;----------------------------------------
; distro themes
;----------------------------------------



;----------------------------------------
; distro make file overrides
;----------------------------------------

