<?php
/**
 * We'll use the xforty profile as a base, but you could possibly use
 * other base profiles as well. You'd have to download them in your
 * distro.make
 */

/**
 * Perform actions to set up the site for this profile.
 *
 * Implements hook_install().
 */
function sub_profile_install() {
  // Install base profile
  sub_profile_install_base();

  // project-specific install code goes here
  sub_profile_enable_default_theme('bartik');
}

/**
 * Install the base profile.
 */
function sub_profile_install_base() {
  // Get the base profile name
  $profile_name = basename(__FILE__, '.install');
  $profile_info = install_profile_info($profile_name);
  $base = $profile_info['base'];

  // Execute the base profile install
  if (!function_exists($base . '_install')) {
    require_once(DRUPAL_ROOT . '/profiles/' . $base . '/' . $base . '.install');
  }
  call_user_func($base . '_install');
}

/**
 * Set default theme.
 */
function sub_profile_enable_default_theme($default_theme) {
  // Enable and set default theme.
  db_update('system')
    ->fields(array('status' => 1))
    ->condition('type', 'theme')
    ->condition('name', $default_theme)
    ->execute();
  variable_set('theme_default', $default_theme);
}
