name = Sub-Profile Example
description = Example sub-profile of xforty.
version = 1.0
core = 7.x
base = xforty

files[] = sub_profile.profile
files[] = sub_profile.install

;----------------------------------------
; sub-profile modules
;----------------------------------------

; base profile modules are automatically included

;dependencies[] =
